*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

#variavel de ambiente
appsettings.Development.Json

Api/appsettings.Json

# Visual Studio 2015
.vs/


#angular
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
client/dist
client/tmp
client/out-tsc
# Only exists if Bazel was run
client/bazel-out

# dependencies
client/node_modules

# profiling files
client/chrome-profiler-events*.json
client/speed-measure-plugin*.json

# IDEs and editors
client/.idea
client/.project
client/.classpath
client/.c9/
client/*.launch
client/.settings/
client/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/npm-debug.log
client/yarn-error.log
client/testem.log
client/typings

# System Files
client/.DS_Store
client/Thumbs.db

#Json
client/package-lock.json
client/package.json

#ssl

ssl