<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Lotus Social Media</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarCollapse">
        <ul *ngIf="LoggedIn" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="Logout()" >Logout</a>
          </li>
        </ul>

        <div  class="dropdown" *ngIf="LoggedIn" dropdown>
          <a  class="dropdown-togle text-light" dropdownToggle>Welcome User</a>      
          <div  class="dropdown-menu mt-3" *dropdownMenu>
            <a  class="dropdown-item">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a  class="dropdown-item" (click)="Logout()">Logout</a>
          </div>
        </div>

        <form *ngIf="!LoggedIn" [hidden] #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="UserName" >
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password" >
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      </div>
    </div>
  </nav> 